<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="usuarioSisa" value="slgallegos:labRaña*123" />
    <add key="urlWS400" value="https://sisadev.msal.gov.ar/sisadev/services/rest/snvs/altaEventoNominal" />
    <add key="APIMuestra" value="http://laboratoriomuestrasdev.sisa.msal.gov.ar/snvsLaboratoriosMuestra/v1/eventoMuestras" />
   
    <add key="app_key_Muestra" value="MUESTRAS" />
    <add key="app_id_Muestra" value="MUESTRAS" />
    
    <add key="APIResultado" value="http://snvslaboratoriosapidev.sisa.msal.gov.ar/snvsLaboratorios/v1/pruebaMuestras" />
    <add key="app_key_Res" value="TEST" />
    <add key="app_id_Res" value="TEST" />
    
    <add key="codigoEstablecimiento" value="51580352367459" />
    <add key="IdEstablecimientoToma" value="Alderete:139593;Ministro:124842;Santiago:139565;Tucuman:107282;Mendoza:138869" />
    <add key="IdEstablecimiento" value="107282" />
 
  </appSettings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
 
  
</configuration>