body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
   
    background-color: #F2F3F4;
}
:root {
    --azul-neuquen: #2b3e4c;
    --verde-neuquen: #87b867;
    --beige-nqn1: #FCF2DC;
    --beige-nqn2: #F4DFB9;
}

a {
    line-height: 1.3;
}

h1{
    line-height: 1.3;
}

.jumbotron{
    padding: 30px;
    margin: 0;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-circle.btn-xl {
    width: 60px;  
    height: 60px;
    font-size: 24px;
    border-radius: 90px;
}

a:hover {
    text-decoration: none;
}

.panel-index a{
    color: black;
    text-decoration: none;
}

.panel-index a:hover{
    /*color: white;*/
    text-decoration: none;
    cursor:pointer;
}

.titulo {
    font-weight: 700;
    font-size: 2em;
    padding: 35px 0 8px;
}

.auto-cropped{
    object-fit: cover;
}

.panel-index{
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: white;
}

/*.panel-index:hover{
    background-color: #398439;
    color: white;
}*/

.col-sm-6 .panel-index{
    margin: 10px 0;
}

p{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
}

.enfasis{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

/*.recursos button:hover{
    background-color: white;
    color: black;
}*/

.quimerismo{
    padding-bottom: 40px;
}

.quimerismo button{
    position: relative;
    top: 18px;
}

.alert-success{
    border-style: solid;
    border-width: 1px;
    border-color: #68ab6e;
    background-color: #FFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.alert{
    padding: 20px;
}

#panel-estudios-adn{
    margin-top: 20px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #79b7c9;
    background-color: #FFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

hr {
    border-top: 1px solid #ccc;
    margin: 30px 0;
}




.neuquen {
    background-color: var(--azul-neuquen);
 }



/* -- Logos de Nueva Gestion --*/
#logo-menu {
    padding-top: 20px;
    width: 150px;
    margin-left: 50px;
}

#logo-neuquen {
    width: 150px;
    padding-top: 20px;
}

#logo-escudo {
    width: 150px;
    height: 70px;
    padding-bottom: 10px;
}

/*--------------Media Queries--------------*/
@media only screen and (max-width : 1190px) {
    .secuenciacion{
        height: 320px !important;
    }
    .secuencia{
        margin-bottom: 35px;
    }

    .full{
        width: 100%;
    }
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 20px;
    }
    #logo-neuquen {
        width: 150px;
        margin-right: 50px;
    }

    #logo-escudo {
        width: 150px;
        height: 70px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width : 1024px) {
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 20px;
    }

    #logo-neuquen {
        width: 100px;
        margin-right: 50px;
    }

    #logo-escudo {
        width: 100px;
        height: 70px;
        padding-bottom: 10px;
        margin-left: 0px;
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

@media only screen and (max-width : 850px) {
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 20px;
    }

    #logo-neuquen {
        width: 100px;
        margin-right: 50px;

    }

    #logo-escudo {
        width: 100px;
        height: 70px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-left: 0px;
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

@media only screen and (max-width : 800px) {
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 20px;
    }

    #logo-neuquen {
        /*width: 100px;*/
        width: 150px;
        margin-right: 50px;
        /*margin-left: 50px;*/
        padding-right: 50px;
    }

    #logo-escudo {
        /*width: 100px;
        height: 70px;
        padding-bottom: 10px;
        margin-left: 0px;*/
        width: 100px;
        height: 70px;
        padding: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

@media only screen and (max-width : 767px) {
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 20px;
    }

    #logo-neuquen {
        width: 150px;
        margin-right: 50px;
        margin-left: 50px;
        padding-right: 50px;
    }

    #logo-escudo {
        width: 100px;
        height: 70px;
        padding-bottom: 10px;
        margin-left: 200px;
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

/* ************* para min-width 768 se abre el menu navbar *********/
@media only screen and (max-width : 720px) {
    #logo-menu {
        width: 150px;
        margin-left: 20px;
    }

    #logo-neuquen {
        width: 150px;
        margin-right: 50px;
        margin-left: 50px;
        padding-right: 50px;
    }

    #logo-escudo {
        width: 100px;
        height: 70px;
        padding-bottom: 10px;
        margin-left: 200px;
        /*margin-top:10px;*/
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

@media only screen and (max-width : 640px) {
    #logo-menu {
        width: 150px;
        padding-left: 0px;
        margin-left: 0px;
    }

    #logo-neuquen {
        width: 150px;
        margin-right: 50px;
    }

    #logo-escudo {
        width: 150px;
        height: 70px;
        padding-bottom: 10px;
        margin-left:60px;
    }

    #logo-menu-ministerio {
        width: 470px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 40% !important;
    }
}

@media only screen and (max-width : 570px) {
    #logo-menu {
        /*width: 150px;
        padding-left: 0px;
        margin-left: 0px;*/
        width: 100px;
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 5px;
    }
    #logo-neuquen {
        /*width: 150px;*/
        width: 100px;
        margin-left: 0px;
    }
    #logo-escudo {
        /*width: 150px;
        height: 70px;
        padding-bottom: 10px;*/
        width: 100px;
        height: 70px;
        padding-bottom: 15px;
        margin-left: 100px;
    }
    #logo-menu-ministerio{
        width: 470px;
    }
    #ventana-flotante{
        position: fixed !important;
        left: 40% !important;
    }
 }

/*@media only screen and (max-width : 458px) {
    #logo-menu {
         width: 100px;
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 5px;
    }
    #logo-neuquen {
        width: 100px;
        margin-left: 0px;
        margin-right: 5px;
    }
    #logo-escudo {
        width: 100px;
        height: 70px;
        padding-bottom: 15px;
        margin-left: 50px;
    }
    #logo-menu-ministerio{
        width: 450px;
    }
}*/

@media only screen and (max-width : 480px) {

    .secuenciacion {
        height: 385px !important;
    }

    .secuencia {
        margin-bottom: 45px;
    }

    #ventana-flotante {
        position: fixed !important;
        left: 20% !important;
    }
   
    #logo-menu {
        width: 100px;
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 5px;
    }

    #logo-neuquen {
        width: 100px;
        height: 70px;
        margin-left: 0px;
        padding: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    }


    #logo-escudo {
        width: 80px;
        height: 70px;
        padding-bottom: 15px;
        margin-left: 100px;
    }


    #logo-menu-ministerio {
        width: 330px;
    }
}

@media only screen and (max-width : 320px) {

    .secuenciacion{
        height: 385px !important;
    }
    .secuencia{
        margin-bottom: 45px;
    }

    #ventana-flotante{
        position: fixed !important;
        left: 20% !important;
    }
    /*[class*="col-"] {
        width: 100%;
    }*/
    #logo-menu {
        width: 80px;
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 5px;
    }
    #logo-neuquen {
        width: 50px;
        height: 70px;
        margin-left: 0px;
        padding: 0px;
        padding-bottom:10px;
        padding-left:10px;
    }


    #logo-escudo {
        width: 50px;
        height: 70px;
      
        padding-bottom: 15px;
        margin-left: 70px;
    }


    #logo-menu-ministerio {
        width: 330px;
    }
    
}
  