
--select top 10 * from Sys_Efector

update Sys_Efector
set complejidad=1
from Sys_Efector where 
 idEfector in (select idEfector from LAB_Configuracion)
 ----
---select top 10 * 
update Sys_Efector
set complejidad=2
from Sys_Efector
where nombre like '%H. plotti%' or nombre like '%H. bouque%'
or nombre like '%H. zapala%'
or nombre like '%H. cutral%'
or nombre like '%H. junin%'
or nombre like '%H. san mart%'
or nombre like '%H. centena%'
and idEfector in (select idEfector from LAB_Configuracion)


---select top 10 * 
update Sys_Efector
set complejidad=3
from Sys_Efector
where nombre like '%H. heller%' 
or nombre like '%H. provinc%'
and idEfector in (select idEfector from LAB_Configuracion)




GO
/****** Object:  StoredProcedure [dbo].[LAB_EstadisticaProduccion]    Script Date: 21/04/2025 20:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LAB_EstadisticaProduccion]
	@fechaDesde varchar(10),
	@fechaHasta varchar(10),
@idArea varchar(400),
@idOrigen varchar(400),
@idSector varchar(400),
@idEfector int,
	@agrupado bit,
	@salida varchar(30)


AS
--select   count(*) from lab_item where baja=0
--exec [LAB_EstadisticaProduccion] '20230101', '20240101', '1054,19,37,35,10,1051,30,28,33,48,41,11,45,1053','1,3,2,4,6,8,9,10,5,11','38,68,48', 0,1
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
DECLARE @TableYears AS TABLE(efector nvarchar(4000))
DECLARE @salidaporEfector AS TABLE   ( campo1 nvarchar(100), campo2 nvarchar(100) , Analisis nvarchar(200),  efector nvarchar(100),   cantidad int)
DECLARE @Year varchar(max), @YearsPVT VARCHAR(MAX) 
declare @ssql varchar(max)
declare @condicion varchar (max)

declare @condicionAux varchar (max)

set @condicion=' I.tipo=''P'' and (DP.fecha>='''+@fechaDesde+''') and (DP.fecha<='''+@fechaHasta+''') and I.idArea in (' +@idArea + ') and O.idOrigen in ('+ @idOrigen + ')'
set @condicionAux='   (P.fecha>='''+@fechaDesde+''') and (P.fecha<='''+@fechaHasta+''') '

set @condicion=@condicion + '  and DP.idSector in ('+ @idSector+')'

if @idEfector>0
begin
	---set @condicion = @condicion + ' and DP.idEfector ='+ convert(varchar,@idEfector)  
	set @condicionAux = @condicionAux + ' and P.idEfector ='+ convert(varchar,@idEfector)  
 
 end

 --select top 10 * from LAB_DetalleProtocolo
 --where idDetalleProtocolo in (select idDetalleProtocolo from LAB_Derivacion)
if @agrupado=0
begin
	if @salida='PDF'
		set @ssql='
with LAB_ConteoAnalisis as (
SELECT  distinct P.idProtocolo, DP.idItem AS idItem, P.idOrigen, P.fecha, P.idsector
FROM         dbo.LAB_Protocolo AS P with (nolock)
INNER JOIN   dbo.LAB_DetalleProtocolo AS DP with (nolock) ON P.idProtocolo = DP.idProtocolo
WHERE     (P.baja = 0)-- AND (DP.idUsuarioValida > 0) 
and '+ @condicionAux+ '
 )
 
SELECT     O.nombre AS campo1, A.nombre AS campo2,I.Codigo + '' ''+  I.nombre AS Analisis, COUNT(*) AS cantidad 					  
FROM   LAB_ConteoAnalisis AS DP  
INNER JOIN  LAB_Item AS I with (nolock) ON DP.idItem = I.idItem AND i.IDeFECTOR=I.IDEFECTORDERIVACION 
INNER JOIN  LAB_Area AS A with (nolock) ON I.idArea = A.idArea 
INNER JOIN  LAB_Origen AS O with (nolock) ON DP.idOrigen = O.idOrigen
WHERE  '+@condicion+' 
GROUP BY I.nombre, O.nombre, I.codigo,A.nombre
ORDER BY campo1, campo2, I.nombre'
	else

	set @ssql='

with LAB_ConteoAnalisis as (
SELECT  distinct  P.idProtocolo, DP.idItem AS idItem, P.idOrigen, P.fecha, P.idsector, p.IDeFECTOR
,case when isnull (D.idDerivacion,0)=0 then ''No'' else ''Si'' end as DERIVABLE
FROM         dbo.LAB_Protocolo AS P with (nolock)
INNER JOIN   dbo.LAB_DetalleProtocolo AS DP with (nolock) ON P.idProtocolo = DP.idProtocolo
left join   LAB_Derivacion as D with (nolock) on D.idDetalleProtocolo= DP.idDetalleProtocolo
WHERE     (P.baja = 0) --AND (DP.idUsuarioValida > 0) 
and '+ @condicionAux+ '
 )
 
SELECT  e.complejidad as Nivel, Re.nombre as REGION,   E.idEfector2 as EFECTOR,  O.nombre AS ORIGEN,Se.nombre as SERVICIO, 
A.nombre AS AREA,I.Codigo ,  I.nombre AS Analisis, DERIVABLE AS DERIVABLE ,COUNT(*) AS CANTIDAD 					  
FROM      LAB_ConteoAnalisis AS DP  
INNER JOIN  LAB_Item AS I with (nolock) ON DP.idItem = I.idItem 	
INNER JOIN  LAB_Area AS A with (nolock) ON I.idArea = A.idArea 
INNER JOIN  LAB_Origen AS O with (nolock) ON DP.idOrigen = O.idOrigen
INNER JOIN  Sys_efector AS E with (nolock) ON DP.idEfector = E.idEfector
INNER JOIN Sys_region as Re with (nolock) on Re.idRegion= E.idRegion
inner join LAB_SectorServicio as Se with (nolock) on Se.idSectorServicio = Dp.idSector
WHERE  '+@condicion+' 
GROUP BY e.complejidad, I.nombre, O.nombre, I.codigo,A.nombre,
Re.nombre ,   E.idEfector2 , DERIVABLE,  Se.nombre
 ORDER BY Re.nombre ,   E.idEfector2, I.nombre'

--print (@ssql)

--print (@ssql)
 exec (@ssql)
end
if @agrupado=1 and @idEfector=0
begin

set @ssql='

with LAB_ConteoAnalisis as (
SELECT DISTINCT TOP (100) PERCENT P.idProtocolo, DP.idItem AS idItem, P.idOrigen, P.fecha, P.idsector, 
case when len(E.idEfector2)>1 then E.idEfector2 else E.nombre end  as efector
FROM         dbo.LAB_Protocolo AS P  with (nolock)
INNER JOIN                   dbo.LAB_DetalleProtocolo AS DP with (nolock) ON P.idProtocolo = DP.idProtocolo
			inner join					  sys_efector E with (nolock) on e.ideFector= P.idEfector
WHERE     (P.baja = 0) AND (DP.idUsuarioValida > 0) and '+ @condicionAux+ '
 )

 SELECT     O.nombre AS campo1, A.nombre AS campo2,I.Codigo + '' ''+  I.nombre AS Analisis,  efector, COUNT(*) AS cantidad 			 
FROM         
                      LAB_ConteoAnalisis AS DP  with (nolock) inner JOIN
                      LAB_Item AS I with (nolock) ON DP.idItem = I.idItem AND i.IDeFECTOR=I.IDEFECTORDERIVACION INNER JOIN                     
                      LAB_Area AS A with (nolock)ON I.idArea = A.idArea INNER JOIN
                      LAB_Origen AS O with (nolock) ON DP.idOrigen = O.idOrigen
WHERE  '+@condicion+' 
GROUP BY I.nombre, O.nombre, I.codigo,A.nombre, efector

ORDER BY campo1, campo2, I.nombre'
	
--print (@ssql)
 insert into @salidaporEfector
 exec (@ssql)
 
--set @ssql='

--select distinct efector 
--from #salidaporEfector'
insert into @TableYears
select distinct efector 
from @salidaporEfector
-- exec (@ssql)

--SET @Year = 
SELECT top 1 @Year=efector FROM @TableYears
SET @YearsPVT=''

--print @Year
WHILE @Year<>''
BEGIN
  SET @YearsPVT = @YearsPVT + N',['+ CONVERT(NVARCHAR(100),@Year) + N']' 
--print   @YearsPVT
  delete from @TableYears where efector=@Year
  --SET @Year = (SELECT [Year] FROM @TableYears )
set @Year=''
SELECT @Year=efector FROM @TableYears
END
SET @YearsPVT = SUBSTRING(@YearsPVT,2,LEN(@YearsPVT))
-- PRINT @YearsPVT

select * 
into #salidaporEfector
from @salidaporEfector
---select * from #salidaporEfector		
 --declare @ssql varchar(max)
SET @ssql ='SELECT  Child.* FROM (
   SELECT * FROM #salidaporEfector )
  pvt PIVOT (SUM(cantidad) 
FOR Efector IN (' + @YearsPVT + ')) AS Child'
 
 --print @ssql;

EXEC (@ssql);
end

 


END
