/*control de cambios
Cambio 1: Etiquetas de CB. Se habilita la impresion en Modulo No Pacientes Nueva funcionalidad
Cambio 2: Etiquetas de CB. Se corrige impresión de etiqueta adicional para las determinaciones que son parte del diagrama de otra determinacion. Por ej. codigo 412.POST.
Cambio 3: Unificar Pacientes. Se modifica para que cuando se unifique con el mismo dni (por estar repetido) se elimine el paciente repetido.
*/


/****** Object:  StoredProcedure [dbo].[LAB_Mantenimiento]    Script Date: 15/03/2025 19:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	ALTER PROCEDURE [dbo].[LAB_Mantenimiento]


AS
BEGIN
-- DECLARE @DIA INT = DATEPART(WEEKDAY,  GETDATE())--0: domingo-1:lunes-2:martes
-- -- select @DIA 
--if  @dia=2
		   
 --begin
INSERT INTO [dbo].[LAB_LogMantenimiento]           ([proceso]           ,[fechahora])
     VALUES           ('Inicia Mantenimiento', convert( datetime, getdate()));          
		  

		 WAITFOR DELAY '00:00:00.003'
		  
	 
 UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'AÑELO ' WHERE CIUDAD = 'A?ELO '
 UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'ALUMINE' WHERE CIUDAD = 'ALUMIN'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'JUNN DE LOS ANDES' WHERE CIUDAD LIKE '%JUNUN DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'JUNIN DE LOS ANDES' WHERE CIUDAD LIKE '%JUNN DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'JUNIN DE LOS ANDES' WHERE CIUDAD LIKE '%JUN?N DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'NEUQUEN' WHERE CIUDAD LIKE '%NEUQU.N%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'NEUQUEN' WHERE CIUDAD LIKE '%NEUQUÉN%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'NEUQUEN' WHERE CIUDAD LIKE '%NEUQUN%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'NEUQUEN' WHERE CIUDAD LIKE '%NEUQU?N%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'NEUQUEN' WHERE CIUDAD LIKE '%NEUQURN%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'PIEDRA DEL AGUILA' WHERE CIUDAD LIKE '%PIEDRA DEL GUILA%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'PIEDRA DEL AGUILA' WHERE CIUDAD LIKE '%PIEDRA DEL ?GUILA%'

UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'RUCA CHOROI' WHERE CIUDAD LIKE '%RUCACHOROI%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'SAN MARTIN DE LOS ANDES' WHERE CIUDAD LIKE '%SAN MARTAN DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'SAN MARTIN DE LOS ANDES' WHERE CIUDAD LIKE '%SAN MARTN DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'SAN MARTIN DE LOS ANDES' WHERE CIUDAD LIKE '%SAN MART?N DE LOS ANDES%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'SAN PATRICIO DEL CHAÑAR ' WHERE CIUDAD LIKE '%SAN PATRICIO DEL CHAAR%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'SAN PATRICIO DEL CHAÑAR ' WHERE CIUDAD LIKE '%SAN PATRICIO DEL CHA?AR%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'TAQUIMILAN ' WHERE CIUDAD LIKE '%TAQUIMILN%'

UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'EL HUECU' WHERE CIUDAD LIKE '%EL HUEC?%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'BAHIA BLANCA' WHERE CIUDAD LIKE '%BAH?A BLANCA%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'CHOCON' WHERE CIUDAD LIKE '%CHOC?N%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'LONCOPUE' WHERE CIUDAD LIKE '%LONCOPU?%'
 

UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'PICUN LEUFU' WHERE CIUDAD LIKE '%PIC?N LEUF?%'
UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'RINCON DE LOS SAUCES' WHERE CIUDAD LIKE '%RINC?N DE LOS SAUCES%'
UPDATE SYS_PACIENTEDOMICILIO SET provincia = 'NEUQUEN' WHERE provincia LIKE '%NEUQU.N%'
UPDATE SYS_PACIENTEDOMICILIO SET provincia = 'NEUQUEN' WHERE provincia LIKE '%NEUQUÉN%'
UPDATE SYS_PACIENTEDOMICILIO SET provincia = 'NEUQUEN' WHERE provincia LIKE '%NEUQUN%'
UPDATE SYS_PACIENTEDOMICILIO SET provincia = 'NEUQUEN' WHERE provincia LIKE '%NEUQU?N%'
UPDATE SYS_PACIENTEDOMICILIO SET provincia = 'NEUQUEN' WHERE provincia LIKE '%NEUQURN%'

UPDATE SYS_PACIENTEDOMICILIO SET CIUDAD = 'ÑORQUINCO' WHERE CIUDAD LIKE '%?ORQUINC?%'




--update sys_paciente
--set idEfector= (Select top 1 idEfector from LAB_Configuracion)
 
delete  from Temp_Mensaje where fechaRegistro<getdate()-1;
 
 	 WAITFOR DELAY '00:00:00.003'
INSERT INTO [dbo].[LAB_LogMantenimiento]           ([proceso]           ,[fechahora])
     VALUES           ('Baja Usuarios Inactivos', convert( datetime, getdate()));          
		  
 --Baja de usuarios inactivos en los ultimos 2 meses
with ultimafechaUSuario as 
(
select idusuario, max (fecha) as ultimoacceso from LAB_LogAcceso  
group by idusuario
)
update sys_usuario set activo=0, idUsuarioActualizacion=0, fechaActualizacion=getdate()
--select *
 from sys_usuario where idUsuario in
(select idusuario from ultimafechaUSuario where ultimoacceso< DATEADD(MM,-2,GETDATE()))
and username<>'adminapi'---es muy importante no borrar el usuario para la api
/*
select *
 from sys_usuario where  username='adminapi'

 idUsuario   idEfector   idPerfil    apellido                                           nombre                                             legajo                                             username                                           password                                           activo idUsuarioActualizacion fechaActualizacion      firmaValidacion                                                                                                                                                                                                                                                  email                                                                                                telefono                                           observacion                                                                                                                                                                                                                                                      documento   idArea      requiereCambioPass externo administrador idEfectorDestino
----------- ----------- ----------- -------------------------------------------------- -------------------------------------------------- -------------------------------------------------- -------------------------------------------------- -------------------------------------------------- ------ ---------------------- ----------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- -------------------------------------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ----------- ----------- ------------------ ------- ------------- ----------------
256         227         2           USUARIO                                            API                                                                                                   adminapi                                           XlvQvuBhaPuYaHQuhVbPKQ==                           1      256                    2024-10-09 16:01:15.000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           0           0           0                  0       1             227

(1 row affected)
 */
INSERT INTO [dbo].[LAB_AuditoriaUsuario]
           ([idUsuario]
           ,[username]
           ,[fecha]
           ,[hora]
           ,[accion]
           ,[idUsuarioRegistro])

select idusuario, username, getdate(),	CONVERT(varchar(25), GETDATE(), 108) AS hora, 'Baja por Inactividad', 2  
from sys_usuario where  activo=0 and idUsuarioActualizacion=0

 

update sys_usuario set  idUsuarioActualizacion=2
where  activo=0 and idUsuarioActualizacion=0

		 WAITFOR DELAY '00:00:00.003'


/*RESGUARDO EN DATOS HISTORICOS*/
--select * from LAB_LogAccesoHistorico
--select * from LAB_LogAcceso
if (select count(*) from LAB_LogAcceso WHERE fecha<GETDATE()-180)>1--999999
begin
	INSERT INTO LAB_LogAccesoHistorico
    select idUsuario, FECHA from LAB_LogAcceso WHERE fecha<GETDATE()-180

    DELETE from LAB_LogAcceso WHERE fecha<GETDATE()-180
end	 
	 		 WAITFOR DELAY '00:00:00.003'

INSERT INTO [dbo].[LAB_LogMantenimiento]           ([proceso]           ,[fechahora])
     VALUES           ('Fin Mantenimiento', convert( datetime, getdate()));          
		  
		  --end
		  
		   
    END

	 


