

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

---Nueva tabla con parametros de funcionamiento interno del sistema: Caracteres especiales a reemplazar
CREATE TABLE [dbo].[LAB_Param](
		[idParam] [int] NOT NULL,
	[ParDesc] [varchar](50) NOT NULL,
	[ParStr] [varchar](50) NOT NULL,
	[ParNum] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO 

if (select count(*) from LAB_Param)=0

INSERT INTO LAB_Param           ([idParam]           ,[ParDesc]           ,[ParStr]           ,[ParNum])  
values (1,'Caracteres a Reemplazar','.                             ',0),
 (1,'Caracteres a Reemplazar','¬                             ',0),
 (1,'Caracteres a Reemplazar','.                             ',0), 
 (1,'Caracteres a Reemplazar','ÄA                            ',0),
 (1,'Caracteres a Reemplazar','ÉE                            ',0),
 (1,'Caracteres a Reemplazar','ÀA                            ',0),
 (1,'Caracteres a Reemplazar','ÈE                            ',0),
 (1,'Caracteres a Reemplazar','ÌI                            ',0),
 (1,'Caracteres a Reemplazar','/                             ',0),
 (1,'Caracteres a Reemplazar','ÁA                            ',0),
 (1,'Caracteres a Reemplazar','ËE                            ',0),
 (1,'Caracteres a Reemplazar','ÏI                            ',0),
 (1,'Caracteres a Reemplazar','ÍI                            ',0),
 (1,'Caracteres a Reemplazar','ÖO                            ',0),
 (1,'Caracteres a Reemplazar','ÓO                            ',0),
 (1,'Caracteres a Reemplazar','ÜU                            ',0),
 (1,'Caracteres a Reemplazar','ÚU                            ',0),
 (1,'Caracteres a Reemplazar','ÄA                            ',0),
 (1,'Caracteres a Reemplazar','?Ñ                            ',0),
 (1,'Caracteres a Reemplazar','ÒO                            ',0),
 (1,'Caracteres a Reemplazar','ÙU                            ',0),
 (1,'Caracteres a Reemplazar','(                             ',0),
 (1,'Caracteres a Reemplazar',')                             ',0),
 (1,'Caracteres a Reemplazar',',                             ',0),
 (1,'Caracteres a Reemplazar','-                             ',0),
--­ (1,'Caracteres a Reemplazar',';							 ',0),
 (1,'Caracteres a Reemplazar','“                             ',0)


 go
/****** Object:  StoredProcedure [dbo].[LABAPI_GetProtocolos]    Script Date: 23/03/2025 11:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[LABAPI_GetProtocolos]
	@estado varchar(10),  -- validado o temporal
	@numeroDocumento int,-- si es validado busca normal, si es temporal busca en los datos del familiar.	
	@fechaNacimiento varchar(10),-- dato adicional para validar del paciente - no parentesco
	@apellido varchar(200),-- dato adicional para validar del paciente- no parentesco
	@fechaDesde varchar(10), --fecha de protocolo desde
	@fechaHasta varchar(10)--fecha de protocolo hasta	

AS
BEGIN TRY 
	 
/*Cambio 26.03.2025. Se limpia del apellido,que se recibe com parametro, 
los carecteres especiales ya que el SIL graba sin caracteres especiales.
Caso NÖRDENSTROM, D'Onofrio.
*/

/*Datos de Prueba
--select idpaciente, count(*) as can from lab_protocolo 
--where idTipoServicio=1
--group by idpaciente
--having    count(*) >1
--order by idPaciente desc
--select * from sys_paciente where idpaciente=2128
--select * from lab_protocolo where idprotocolo=100002558

 --exec LABAPI_GetProtocolos 'Validado',876622, '19330415', 'NÖRDENSTROM', '20200101','20251230'----falta tipo de muestra
 
---con hiv
---Validado|10780104|19530609|ROSSI|20200101|20241231 --- con as un protocolo
---Validado|33951577|19880728|BARRERE|20200101|20241231 --- con as un protocolo
---Validado|14709926|19630320|OLAVE|20200101|20241231 --- con antibiobiograma
---temporal|26982063|20240301|PRUEBA|20200101|20241231 --- con as un protocolo
---Validado|876622|19330415|NÖRDENSTROM|20200101|20251231 --- con caretres especiales
*/ 
---Verificar apellido sin caracteres especiales	  
select @apellido= replace (@apellido,'''','') ---saca comillas simple que viene como apostrofe, por ej. D'onofrio
declare @carExt char(1), @CarReem char(1)
DECLARE CUR_car INSENSITIVE CURSOR FOR  
select substring (ParStr,1,1) , isnull(substring (ParStr,2,1),' ')
from  lab_param with (nolock)
where idparam=1
OPEN CUR_car
FETCH CUR_car INTO @carExt, @CarReem
    while @@fetch_status = 0
begin
select @apellido = replace (@apellido, @carExt, @CarReem)

FETCH CUR_car INTO @carExt, @CarReem
end
CLOSE CUR_car
DEALLOCATE CUR_car
--- Fin de reemplazo de caracteres especiales

create table #pacientes (idPaciente int, apellido varchar(200) )
if UPPER(@estado)='TEMPORAL'
	insert into #pacientes
	select   Pac.idPaciente, pac.apellido
	from Sys_Paciente   as Pac with (nolock)
	left join Sys_Parentesco as Par with (nolock) on Pac.idPaciente= Par.idPaciente
	where idEstado=2
	and Par.numeroDocumento=@numeroDocumento
	and pac.fechaNacimiento =convert(date,@fechaNacimiento)--Caro: se optimiza convirtiendo la variable a date y no el campo ya que el convert del campo baja la performance
	and replace (pac.apellido,' ','')=replace (@apellido,' ','')
if UPPER(@estado)='VALIDADO'
	insert into #pacientes
	select  idPaciente, apellido
	from Sys_Paciente  as Pac 
	where   idEstado<>2 
	and Pac.numeroDocumento= @numeroDocumento
 	and  pac.fechaNacimiento =convert(date,@fechaNacimiento)--Caro: se optimiza convirtiendo la variable a date y no el campo ya que el convert del campo baja la performance
	and replace (pac.apellido,' ','')=replace (@apellido,' ','')
	 
	  
--;with Protocolos as ( ---Caro: se saca CTE , no es necesario
select P.idProtocolo,
Pac.numeroDocumento as documento,
Pac.apellido,  Pac.nombre,
substring(Se.nombre,1,1)+ substring(Pac.nombre,1,2)+substring(Pac.apellido,1,2)+ convert(varchar(10),pac.fechaNacimiento,112)+
case when P.embarazada='S' then 'E' else '' end as codigoHIV,
Pac.fechanacimiento,
Se.nombre as sexobiologico, 
P.numero, 
P.fecha, 
e.nombre as Laboratorio,
P.Especialista as medicoSolicitante,
E1.nombre as efectorSolicitante, 
O.nombre as origen  , 
M.nombre as tipoMuestra
from Sys_Paciente  as Pac with (nolock)
inner join LAB_Protocolo as P with (nolock)
	on Pac.idPaciente= P.idPaciente
inner join Sys_Efector   as E with (nolock)
	on E.idEfector= P.idEfector
inner join LAB_Origen  as O with (nolock)
	on O.idOrigen= P.idOrigen
inner join sys_efector as E1 with (nolock)
	on E1.idEfector = P.idEfectorSolicitante
inner join #pacientes as pa 
	on pa.idPaciente= Pac.idPaciente
inner join Sys_Sexo as Se with (nolock)
	on Se.idSexo= Pac.idSexo
left join LAB_Muestra as M with (nolock)
	on M.idMuestra= P.idMuestra
where P.baja=0
and convert(varchar(10),P.fecha,112)  between @fechaDesde and @fechaHasta
and exists (select 1 from lab_detalleprotocolo Det with (nolock)
			where Det.idprotocolo= P.idProtocolo 
			and (idusuariovalida>0 or idUsuarioObservacion>0)
			and conResultado=1			)
 
--FOR JSON PATH , ROOT('PROTOCOLOS')
 
  END TRY  
BEGIN CATCH 

--select * from temp_mensaje
	insert into temp_mensaje (mensaje, fecharegistro, idEfector)
	SELECT     
       ERROR_MESSAGE(),getdate(),0

	
END CATCH  


 