
/*actualizacion nombre de regiones*/
--select * from Sys_Region

update sys_region 
set nombre ='Del Pehuén'
where nombre='Centro Oeste'
go
update sys_region 
set nombre ='Lagos del Sur'
where nombre='Sur'
go
update sys_region 
set nombre ='Alto Neuquén'
where nombre='Norte'
go
update sys_region 
set nombre ='Comarca'
where nombre='Comarca Petrolera'

go

/****** Object:  StoredProcedure [dbo].[LABAPI_GetResultadoProtocolo]    Script Date: 18/03/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LABAPI_GetResultadoProtocolo]
	@idProtocolo int--100034081
 
AS
BEGIN
/*
prueba
exec LABAPI_GetResultadoProtocolo 100141271
18.03.2025. Se agrega control para que si una determinacion no tiene resultados pero tiene observacion validada
que se muestre dicha observacion (por ej. casos cuando se informa sin insumo)
*/
 
declare @idServicio int


select @idServicio= idTipoServicio from LAB_Protocolo with (nolock) where idProtocolo=@idProtocolo

if @idServicio=1
BEGIN 
	SELECT  area, grupo, orden,  item,  
	--resultadoNum, ResultadoCar, observaciones, idTipoResultado,
	case when trajoMuestra='Si' then
		case when idTipoResultado=0 then convert(bit,1) else convert(bit, 0) end 
	else convert(bit, 0) end as esTitulo,
	case when conresultado=0 and estadoobservacion=2 --No tiene resultado, pero tiene observaciones validadas
		then observaciones 
	else
		case when idderivacion>0 then ResultadoCar+ observaciones  --Derivacion
		else
			case when trajoMuestra='Si' then--- tiene resultados
				case when idTipoResultado=1 then
					case   formatoDecimal
						when 0 then convert(varchar, formato0)
						when 1 then convert(varchar, formato1)
						when 2 then convert(varchar, formato2)
						when 3 then convert(varchar, formato3)
						when 4 then convert(varchar, formato4)
					end
				else ResultadoCar + observaciones
				end		
			else 'SIN MUESTRA' end --sin muestra
		end	
	end
	as Resultado, UnidadMedida,  Metodo, valorReferencia,
   codificaHiv,
   userValida,
   fechahoravalida
   INTO #RESULTADOS
	FROM vta_LAB_Resultados_API  
	WHERE   idProtocolo = @idProtocolo and estado=2 and informable=1 order by ordenArea, orden, idDetalleProtocolo 
	 ---
	select  area, grupo, orden, item,esTitulo, Resultado, UnidadMedida,  Metodo, valorReferencia, 
  codificaHiv, userValida, fechahoravalida
	from  #RESULTADOS
	order by orden
 
	END
else

if @idServicio=3
begin
	if (SELECT count (*)  FROM vta_LAB_Resultados_API as v inner join LAB_Protocolo as P on P.idProtocolo= V.idProtocolo WHERE   V.idProtocolo = @idProtocolo  )>0
	begin
	 
	 ; with res as (
		SELECT  area,  idDetalleProtocolo as orden  ,grupo, item,  	
	case when idTipoResultado=0 then convert(bit,1) else convert(bit, 0) end as esTitulo,
	case when conresultado=0 and estadoobservacion=2 --No tiene resultado, pero tiene observaciones validadas
		then observaciones 
	else
		case when idderivacion>0 then ResultadoCar+ observaciones 
		else
			case when trajoMuestra='Si' then
				case when idTipoResultado=1 then
					case   formatoDecimal
						when 0 then convert(varchar, formato0)
						when 1 then convert(varchar, formato1)
								when 2 then convert(varchar, formato2)
								when 3 then convert(varchar, formato3)
								when 4 then convert(varchar, formato4)
					end
				else ResultadoCar + observaciones
				end		
			else 'SIN MUESTRA' end
		end	
	end	as Resultado , UnidadMedida,  Metodo, valorReferencia, 
	
  codificaHiv, userValida,  fechaHoraValida--,estadoObservacion  
	
 	--INTO #RESULTADOa
	FROM vta_LAB_Resultados_API  
	WHERE   idProtocolo = @idProtocolo and userValida<>'' and informable=1
--	ORDER BY ORDEN
union
 
	select area as area,idprotocolo+9 as orden, 'Aislamientos '  as grupo,  NOMBRE as item,--idItem,
	 convert(bit,1)  as esTitulo,	
	observaciones  as resultado,
	
	'' as unidadMedida, 		'' as Metodo, '' as valorReferencia,	
	0 as codificaHiv, firmante  as userValida, fechavalida AS fechaHoraValida	
	--INTO #RESULTADOB
--	select top 10  * 
	from [vta_LAB_Aislamiento] where idProtocolo =@idProtocolo 
--	ORDER BY ORDEN
	 union

select  area as area,idprotocolo+99 as orden,  'ATB - ' + germen + ' ('+ metodologia+ ')'  as grupo, 
antibiotico  as item, convert(bit, 0)   as esTitulo,

resultado   as resultado,

'' as unidadMedida,
'' as Metodo, '' as valorReferencia,
 
   0 as codificaHiv, uservalida as userValida, FECHAHORAVALIDA AS fechaHoraValida--, '' as estadoObservacion 
 --- INTO #RESULTADOC
 --select top 10 *
   from vta_LAB_Antibiograma  where idProtocolo=@idProtocolo
   )
 --  ORDER BY ORDEN
--order by  area, iddetalleprotocolo --orden 

select area  ,  grupo, 
  item,   esTitulo, resultado, unidadMedida,
  Metodo,   valorReferencia, codificaHiv,   userValida,   fechaHoraValida 
  from res  ORDER BY ORDEN
--SELECT * FROM  #RESULTADOa
--UNION
--SELECT *  FROM  #RESULTADOB
--UNION
--SELECT * FROM  #RESULTADOc
end



end 

else   ---no pacientes
	SELECT  grupo,item, iditem, resultadoNum, ResultadoCar, observaciones,idCategoria, 
	idTipoResultado, UnidadMedida, Estado, Metodo, valorReferencia, '' as MaximoReferencia, 
	'' as observacionReferencia , '' userCarga, trajoMuestra ,'' as tipoValorReferencia, conresultado,
	formatoDecimal,  formato0,  formato1, formato2, formato3,  formato4 , '' resultadoDefecto,'' userControl,
    iddetalleProtocolo, codificaHiv, userValida,estadoObservacion  , area, orden
	FROM vta_LAB_Resultados_API  
	WHERE   idProtocolo = @idProtocolo and estado=2 and informable=1


	union
	---aislamiento

select '&nbsp;&nbsp;&nbsp;Aislamientos '  as grupo, NOMBRE as item,idItem,0 as ResultadoNum, observaciones  as resultadoCar,
'' as observacion, 0 as idCategoria, 2 as idtipoResultado, '' as unidadMedida, 1 as estado, '' as Metodo, '' as valorReferencia, '' as MaximoReferencia, 
	'' as observacionReferencia , '' as userCarga, 'Si' as trajoMuestra ,'' as tipoValorReferencia, 1 as conresultado,
	0 as formatoDecimal, 0 as  formato0, 0 as formato1,0 as formato2,0 as formato3, 0 as formato4 , '' as resultadoDefecto, '' as userControl,
    -1 as iddetalleProtocolo, 0 as codificaHiv, firmante as userValida, '' as estadoObservacion , area as area, 99 as orden
	from [vta_LAB_Aislamiento] where idProtocolo =@idProtocolo 

order by  area, iddetalleprotocolo

 



END

